<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendor Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Pierre's Vendor & Order Tracker</h1>
      <p>Welcome to your personal bakery tracker! Here, you can add the different vendors you supply and assign orders to them. That way, you can keep your busy bakery nice and organized!</p>
      <div class="text-center">
        <p><a href="/vendors">View Vendors</a></p>
      </div>
    </div>
  </body>
</html>